<div class="container text-center my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-5">
        <h1 class="display-1 text-danger">404</h1>
        <h2 class="text-muted">Page non trouvée</h2>
        <p class="lead text-secondary">
          Oups! Il semble que la page que vous recherchez n'existe pas ou a été
          déplacée.
        </p>
        <a routerLink="/" class="btn btn-primary btn-lg mt-4"
          >Retour à l'accueil</a
        >
      </div>
    </div>
  </div>
</div>
