.header {
    display: flex;

}

.name {
    flex: 1;
    margin: 1%;
}

.menu-navigation {
    display: flex;
}

.card {
    margin-left: 1%;
}


.card-carte {
    border: 1px solid black;
    padding: 10%;
}

.top {
    display: flex;
    gap: 10%;
}

.bottom {
    display: flex;
    margin-top: 1%;
    gap: 10%;
}

.border {
    border-bottom: 1px solid black;

}