
.title {
  text-align: center;
  padding-top: 2%;
}

.description {
  text-align: center;
  color: #6c757d;
}

.button-container {
  display: flex;
  justify-content: center;
}

.small-line {
  width: 3rem;
  height: 2px;
  background-color: black;
  margin: 10px auto;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.8em;
    padding-top: 5%;
  }

  .description {
    font-size: 1em;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .small-line {
    width: 2rem;
    margin: 8px auto;
  }
}

