
.left-content {
  padding-top: 10%;
  padding-left: 10%;
}

.right-content {
  padding-top: 5%;
  padding-left: 20%;
}

.content {
  display: flex;
}

.title {
  font-size: 3em;
}
.description {
  color: #6c757d;
}
