<div class="footer">
    <div class="content">

        <div class="left-content">
            <div class="logo-title">
                <img src="assets/logo-white.png" alt="" id="logo">
                <p class="title">Trafalgar</p>
            </div>
        
            <p>Trafalgar provides progressive, and affordable <br>
                healthcare, accessible on mobile and online <br>
                for everyone</p>
            
            <p>©Trafalgar PTY LTD 2020. All rights reserved</p>
        </div>

        <div class="company-content">
            <h2>Company</h2>

            <li>
                About
            </li>
            <li>
                Testimonials
            </li>
            <li>
                Find a doctor
            </li>
            <li>
                Apps
            </li>
        </div>

        <div class="region-content">
            <h2>Region</h2>

            <li>
                Indonesia
            </li>
            <li>
                Singapore
            </li>
            <li>
                Hongkong
            </li>
            <li>
                Canada
            </li>
        </div>

        <div class="help-content">
            <h2>Help</h2>

            <li>
                Help center
            </li>
            <li>
                Contact support
            </li>
            <li>
                Instructions
            </li>
            <li>
                How it works
            </li>
        </div>

    </div>
</div>
